$color-primary: #f2785c;
$color-primary-50:  rgba(242, 120, 92, 0.5);
$color-primary-70: rgba(242, 120, 92, 0.7);
$color-primary-70-hover: rgba(242, 150, 142, 0.7);

$color-secondary: #0d606f;
$color-secondary-hover: rgb(13, 146, 161);

$color-tertiary: #ffffff;
$color-tertiary-70: rgba(255, 255, 255, 0.7);
