@import "flex.scss";
@import "text.scss";
@import "colors.scss";

.footer {
  @include flex(row, center, space-between, 1, 1);

  padding: 0 120px;

  &__content {
    @include flex(column, center, center, 1, 1);

    width: calc(100% / 3);

    .copyright {
      @include text("Red Hat Text", normal, 500, 16px, $color-tertiary);
    }

    .social {
      @include flex(row, center, flex-end);

      width: 100%;
      cursor: pointer;

      &__icon {
        @include flex();

        height: 40px;
        margin-left: 7.3px;
        width: 40px;
      }
    }
  }
}
